body{
  background: #6800E0;
  color: white;
}
.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  position: absolute;

}
img {
  width: 100%;
  height: auto;
}
h1{
  text-align: center;
}
a:link {
    text-decoration: none;
    color: black;
}
button{
  border-radius: 15px;
  background: white;
}
@media screen and (max-width: 1000px) {
      .container {
          grid-template-columns: 30% 30% 30%;
      }
}
@media screen and (max-width: 600px) {
      .container {
          grid-template-columns: 100%;
      }
      img{
        width: 100%;
      }
}
