<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      body{background: skyblue;
      color: white;
    padding: 30px;
  text-align: center;}
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>404!</h1>

  </body>
</html>
