<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      body{background: skyblue;
      color: white;
    padding: 30px;
  text-align: center;}
    </style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h2>Worker deleted from database!</h2>
    <p>You deleted worker with the ID: <strong><%=id %></strong>
    from the database</p>
  </body>
</html>
