<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/assets/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Workers DB</h1>
    <p>Choose action from above links</p>
  </body>
</html>
