body{
  background: burlywood;
}
#intro{
  position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.cell{
  height: 80px;
  width: 50px;
  background-image: url("img/fire2.png");
  display: inline-block;
  margin: 10px;
}
.container{
  height: 600px;
  width: 350px;
  background: gray;
  display: inline-block;
}
.entrence{
  height: 100px;
  width: 100px;
  margin-left: auto;
    margin-right: auto;
    display: block;
}
.stat{
  top: 0;
  position: absolute;
  top: 10px;
  left: 370px;
}
.answers{
  background: blue;
  padding: 8px;
  border-radius: 50%;
  margin-bottom: 10px;
  user-select: none;
}
.answers:hover{
  background: yellow;
}
li{
  list-style: square;
  font-size:20px;
}
li.dotSaved {color:green;}
li.dotDeath {color: red;}
ul{
  margin-top: 10px;
}
img{
  user-select: none;
}
