.cell{
  height: 80px;
  width: 50px;
  background: red;
  display: inline-block;
  margin: 10px;
}
.container{
  height: 600px;
  width: 350px;
  background: gray;
  display: inline-block;
}
.entrence{
  height: 100px;
  width: 100px;
  margin-left: auto;
    margin-right: auto;
    display: block;
}
.stat{
  top: 0;
  position: absolute;
  top: 10px;
  left: 400px;
}
.answers{
  height: 100px;
  width: 300px;
  background: blue;
  padding: 3px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.answers:hover{
  background: yellow;
}
